:root {
  font-family: "DejaVu Sans Mono", monospace;
  line-height: 1;
}

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

body {
  margin: 0;
  padding: 0px;
}
